@model Kuchenne_rewolucje.Dtos.ArticleDto

@{
    ViewData["Title"] = Model.Name;
    string username = Model.User.Username;
    var id = Context.Request.Cookies["UserId"];
    double rate = ViewBag.Rate;
    Layout = "_UserLayout";
}

@await Html.PartialAsync("_Alerts")
<div class="blur-overlay" id="blurOverlay"></div>
<h1 class="detail-title text-center" style="margin-bottom: 50px;">@Model.Name <i class="fa-solid fa-star active"> @Model.Rating / 5</i></h6> </h1>
<div id="standard-detail-container" class="container-fluid">

    <div class="row" style="color: black;">
        <div class="offset-lg-2 offset-md-1 col-lg-3 col-md-4 d-flex flex-column" style="text-align: left;">
            <div class="form-group">
                <button id="go-back" type="button" class="btn rounded-dark-button my-btn float-start" onclick="goBack()" style="float: left; margin-right: 5px;">Wstecz</button>
                <button type="button" class="btn create-rating-button rounded-dark-button my-btn float-start" style="float: left;">Oceń</button>
            </div>
            <img src="data:image;base64,@Convert.ToBase64String(Model.ImageUrl)" class="img-fluid detail-image">
            @Html.Raw(Model.Ingredients)
        </div>
        <div class="col-lg-5 col-md-6 d-flex flex-column">
            <div style="text-align: left;">
                @Html.Raw(Model.Content)
            </div>
            <h3 class="text-center">Komentarze</h3>
            <div class="comments-container">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        <div>
                            <p class="comment-data">@comment.Username - @comment.CreatedAt</p>
                            <p class="comment-content">@comment.Content</p>
                        </div>
                        @if (comment.UserId == int.Parse(id))
                        {
                            <a href="@Url.Action("DeleteComment", "/Comment", new { id = comment.Id })" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten komentarz?')">Usuń</a>
                        }
                    </div>
                }
                @await Html.PartialAsync("_CreateComment", new Kuchenne_rewolucje.Dtos.CommentDto { ArticleId = Model.Id, UserId = Model.UserId, Username = username })               
            </div>
        </div>      
    </div>
</div>

<div id="mobile-container" class="container-fluid">
    <div class="blur-overlay" id="blurOverlay"></div>
    <div class="btn-group" style="display: flex;">
        <button id="go-back" type="button" class="btn rounded-dark-button my-btn" onclick="goBack()" style="border: 2px solid white;">Wstecz</button>
        <button type="button" class="btn create-rating-button rounded-dark-button my-btn" style="border: 2px solid white;">Oceń</button>
    </div>
    <img src="data:image;base64,@Convert.ToBase64String(Model.ImageUrl)" class="card-img-top img-fluid">
    <div style="text-align: justify;">
        @Html.Raw(Model.Ingredients)
    </div>
    <div style="text-align: justify;">
        @Html.Raw(Model.Content)
    </div>
    <h3 class="text-center">Komentarze</h3>
    <div class="comments-container">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div>
                    <p class="comment-data">@comment.Username - @comment.CreatedAt</p>
                    <p class="comment-content">@comment.Content</p>
                </div>
                @if (comment.UserId == int.Parse(id))
                {
                    <a href="@Url.Action("DeleteComment", "/Comment", new { id = comment.Id })" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten komentarz?')">Usuń</a>
                }
            </div>
        }
        @await Html.PartialAsync("_CreateComment", new Kuchenne_rewolucje.Dtos.CommentDto { ArticleId = Model.Id, UserId = Model.UserId, Username = username })
    </div>
</div>

<div class="rating-partial-view text-center hidden">
    @await Html.PartialAsync("_CreateRating", new Kuchenne_rewolucje.Models.Rating { ArticleId = Model.Id, UserId = Model.UserId, Value = rate })
</div>

@section Scripts {
    <script src="~/js/article.js"></script>
    <script src="~/js/star-rating.js"></script>
    <script>
        var userRate = @ViewBag.Rate;
        $(document).ready(function () {
            var rate = userRate;
            $('#star-rating').starRating({
                initialRating: rate,
                callback: function (currentRating, $el) {
                    $('#rating-value').text(currentRating);
                    $('#rating-input').val(currentRating);
                }
            });         
        });
    </script>
}