@model List<Kuchenne_rewolucje.Dtos.ArticleDto>

@{
    ViewData["Title"] = "Strona główna";
    Layout = "_UserLayout";
    var userId = int.Parse(Context.Request.Cookies["UserId"]);
}

@await Html.PartialAsync("_Alerts")

@if (Model.Any())
{
    <div class="row justify-content-center">
        @foreach (var article in Model)
        {
            <div class="col-sm-12 col-md-4 col-lg-3 box-shadow" data-categoryid="@article.CategoryId">
                <i id="favourite-icon" class="fa-solid fa-star @(article.Favourites != null && article.Favourites.Any(f => f.UserId == userId) ? "favourites" : "")" onClick="AddArticleToFavourites(@article.Id, this)"></i>
                <a href="/Article/SingleArticle?id=@article.Id"
                   class="nav-link no-link-style no-padding d-flex flex-column justify-content-center" style="width: 100%; display: block; height: 100%;">
                    <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(article.ImageUrl)">
                    <div class="card-body">
                        <h5 class="card-title">@article.Name - @article.User.Username</h5>
                    </div>
                </a>
                <h6 class="rating-body"><i class="fa-solid fa-star active"></i> @article.Rating / 5</h6>
            </div>
        }
    </div>
}
else
{
    <p style="float: left">Brak zapisanych przepisów w bazie danych.</p>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/article.js"></script>
}
